<ons-list-header></ons-list-header>

<div>
  <img (click)="inc_img()" src={{user_image}} [style.height.px]="height_size" />
</div>

<div>
  <button (click)="dec()" title="smaller">-</button>
  <button (click)="inc()" title="bigger">+</button>
  <label [style.font-size.px]="size">FontSize: {{size}}px</label>
</div>

<p>pattern 0</p>

<!-- なぜかngForを使うと＞が表示されてしまう -->
<!-- <ons-list-item *ngFor="let item of lists1">>
  <div class="left-side">
    <img class="thumbnail2" src="{{item.img1}}">
  </div>
  <div class="right-side">
    <span class="list-item__title">
      <p class="list_item_title">{{item.date_str}}</p>
      <p class="list_item_memo">{{item.memo_str}}</p>
    </span>
    <img class="big_img2" src="{{item.img2}}" (click)="onItemClick()">
  </div>
</ons-list-item> -->

<app-pattern0></app-pattern0>

<ons-list-item>
  <div class="left-side">
    <img class="thumbnail2" src="{{user_image}}">
  </div>
  <div class="right-side">
    <span class="list-item__title">
      <p class="list_item_title">{{title}}</p>
      <p class="list_item_memo">{{memo}}</p>
    </span>
    <img class="big_img2" src="{{big_image}}" (click)="onItemClick()">
  </div>
</ons-list-item>

<!-- --------------- -->

<p>pattern 1</p>
<hr />
<app-pattern1></app-pattern1>

<!-- <ons-list-item *ngFor="let item of lists2">
  <div class="top-left">
    <img class="thumbnail" src="{{item.img1}}">
  </div>
  <div class="top-right">
    <span class="list-item__title">
      <p>{{item.date_str}}</p>
      <p>{{item.memo_str}}</p>
    </span>
  </div>
  <div class="bottom-center">
    <img class="big_img" src="{{item.img2}}" (click)="onItemClick()">
  </div>
</ons-list-item> -->


<!-- --------------- -->

<hr />
Pattern 2
<hr />
<app-pattern2></app-pattern2>

<!-- <ons-list-item expandable *ngFor="let item of lists3">
  <div class="left">
    <img class="list-item__thumbnail" src="{{item.img1}}">
  </div>
  <div class="center">
    <span class="list-item__title">{{item.date_str}}</span>
    <span class="list-item__subtitle">{{item.memo_str}}</span>
  </div>
  <div class="expandable-content">
    <img class="expandable-img" src="{{item.img2}}">
  </div>
</ons-list-item> -->


<!-- --------------- -->

<hr />
<p>pattern 3</p>
<hr />
<app-pattern3></app-pattern3>

<!-- <ons-list-item *ngFor="let item of lists4">
  <div class="top-pattern3">
    <span class="list-item__title">
      <p class="list_item_title">{{item.date_str}}</p>
      <p class="list_item_memo">{{item.memo_str}}</p>
    </span>
    <img class="big_img2" src="{{item.img2}}" (click)="onItemClick()">
  </div>
</ons-list-item> -->
