/* Home CSS */

.left-side {
  height: 100%;
  margin-right: 15px;
}
img.thumbnail2 {
  width: 60px;
}
.list_item_title {
  margin-top: 0px;
}

/* ---------------------- */

.top-pattern3 {
  width: 100%;
  text-align: center;
}

/* ---------------------- */

.top-left {
  float: left;
}
img.thumbnail {
  width: 100px;
}

.top-right {
  float: left;
  margin-left: 15px;
}

.bottom-center {
  width: 100%;
  background-color: #000000;
  text-align: center;
  clear: left;
  margin-top: 20px;

}
img.big_img {
  width: 100%;
}
